<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="/public/css/styleRegistry.css" media="all">


    <title>Registrieren-Verkauf_Mubea</title>
</head>

<body>
    <h1>das ist registrieren.ejs in views</h1>
    <!--<a class="aboutUS">by C.Tschenet / J.Schmidt</a>-->
    <div class="aboutUS">by C.Tschenet / J.Schmidt</div>

    <div class="TestDiv">
    <br>
    <form action="/api/registrieren" method="post">
        MA_Nummer: <input name="MaNummer" type="text" id="inputMaNummer"/>
        <button type="button" id="btnMaNummer" onclick="btnMaNummerOK()">OK</button><a id="lbAusgabeMaNummer"></a><br>
        Vorname: <input name="Vorname" type="text" />
        <br><a id="lbAusgabeVorname"></a>
        Nachname: <input name="Nachname" type="text" />
        <br><a id="lbAusgabeNachname"></a>
        Passwort_User: <input name="Passwort_User" type="text" />
        <br><a id="lbAusgabePasswort_User"></a>
        IstChef: <input name="IstChef" type="text" />
        <br><a id="lbAusgabeIstChef"></a>
        <input type="submit" value="alles bestätigen" />
        <a>UserVerkaufMubea:   </a>
        <a id="lbAusgabeUserVerkaufMubea"><%= MaNummer %> , <%= Vorname %>, <%= Nachname %>, <%= Passwort_User %>, <%= IstChef %></a>
    </form>
    <br>
</div>

    <button><a href="/api/login/l">go to Login</a></button>

    <br>
    <br>



    <footer class="footer-Registrieren">
        <!-- Reihenfolge-->
        <div style="float: left; background-color: lightgray;"><a class="pCopyRFooter">© C.Tschenet / J.Schmidt</a></div>
        <div style="float: right; background-color: lightgray;"><a class="pDateFooter">Dez. 2022 / Jan. 2023</a></div>
        <div style="margin: 0 auto; width: 100px;"><a>Version 1.0</a></a></div>

    </footer>

    <script type="text/javascript" src="/public/js/mainRegistrieren.mjs" ></script>
   <!-- <script type="text/javascript" src="/public/js/mainRegistrieren.mjs" ></script>  -->
    <!-- <script type="module" src="/public/js/mainRegistrieren.mjs" ></script> -->
</body>

</html>
